<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <!-- Actions -->
    <record id="action_gdb_auteur" model="ir.actions.act_window">
        <field name="name">Auteurs</field>
        <field name="res_model">gdb.auteur</field>
        <field name="view_mode">tree,form</field>
        <field name="view_type">form</field>
        <field name="view_id" ref="view_auteur_tree" />
    </record>

    <record id="action_gdb_livre" model="ir.actions.act_window">
        <field name="name">Livres</field>
        <field name="res_model">gdb.livre</field>
        <field name="view_mode">tree,form</field>
        <field name="view_type">form</field>
        <field name="view_id" ref="view_livre_tree" />
    </record>

    <record id="action_gdb_emprunteur" model="ir.actions.act_window">
        <field name="name">Emprunteurs</field>
        <field name="res_model">gdb.emprunteur</field>
        <field name="view_mode">tree,form</field>
        <field name="view_type">form</field>
        <field name="view_id" ref="view_emprunteur_tree" />
    </record>

    <record id="action_gdb_emprunt" model="ir.actions.act_window">
        <field name="name">Emprunts</field>
        <field name="res_model">gdb.emprunt</field>
        <field name="view_mode">tree,form</field>
        <field name="view_type">form</field>
        <field name="view_id" ref="view_emprunt_tree" />
    </record>

    <!-- Menus -->
    <menuitem id="menu_gdb_root"
        name="Bibliothèque"
    />

    <menuitem id="menu_gdb_auteur"
        name="Auteurs"
        parent="menu_gdb_root"
        action="action_gdb_auteur"
    />

    <menuitem id="menu_gdb_livre"
        name="Livres"
        parent="menu_gdb_root"
        action="action_gdb_livre"
    />

    <menuitem id="menu_gdb_emprunteur"
        name="Emprunteurs"
        parent="menu_gdb_root"
        action="action_gdb_emprunteur"
    />

    <menuitem id="menu_gdb_emprunt"
        name="Emprunts"
        parent="menu_gdb_root"
        action="action_gdb_emprunt"
    />
</odoo>